In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
inside = ["class A", "class B", "class C", "class A", "class B", "class C"]
outside = ["school 1", "school 1", "school 1", "school 2", "school 2", "school 2"]

In [5]:
out = zip(outside, inside)

In [6]:
multi_index = list(out)

In [7]:
multi_index

[('school 1', 'class A'),
 ('school 1', 'class B'),
 ('school 1', 'class C'),
 ('school 2', 'class A'),
 ('school 2', 'class B'),
 ('school 2', 'class C')]

In [9]:
ml = pd.MultiIndex.from_tuples(multi_index)

In [10]:
np.random.seed(101)
df = pd.DataFrame(np.random.randint(70, 100, size = (6, 2)), index=ml, columns=["first semester", "second semester"])

In [11]:
df.head()

                  first semester  second semester
school 1 class A              81               87
         class B              76               93
         class C              99               81
school 2 class A              85               79
         class B              83               78

In [12]:
df.loc["school 1"]

         first semester  second semester
class A              81               87
class B              76               93
class C              99               81

In [13]:
df["first semester"]

school 1  class A    81
          class B    76
          class C    99
school 2  class A    85
          class B    83
          class C    74
Name: first semester, dtype: int64

In [15]:
df.loc["school 1"].loc["class A"]

first semester     81
second semester    87
Name: class A, dtype: int64

In [17]:
df.index

MultiIndex([('school 1', 'class A'),
            ('school 1', 'class B'),
            ('school 1', 'class C'),
            ('school 2', 'class A'),
            ('school 2', 'class B'),
            ('school 2', 'class C')],
           )

In [18]:
df.index.names

FrozenList([None, None])

In [19]:
df.index.names = ["schools", "classes"]

In [20]:
df.index.names

FrozenList(['schools', 'classes'])