In [31]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 2.3 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/brain_networks.csv")

In [9]:
df.head()

,network,1,1.1,2,2.1,3,3.1,4,4.1,5,...,16.5,16.6,16.7,17,17.1,17.2,17.3,17.4,17.5,17.6
0,node,1,1,1,1,1,1,1,1,1,...,3,4,4,1,1,2,2,3,3,4
1,hemi,lh,rh,lh,rh,lh,rh,lh,rh,lh,...,rh,lh,rh,lh,rh,lh,rh,lh,rh,lh
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,56.05574417114258,92.03103637695312,3.391575574874878,38.65968322753906,26.203819274902344,-49.71556854248047,47.4610366821289,26.746612548828125,-35.898860931396484,...,0.6079040169715881,-70.27054595947266,77.36577606201172,-21.73455047607422,1.0282527208328247,7.7917842864990225,68.90372467041016,-10.520872116088867,120.49046325683594,-39.686431884765625
4,1,55.5472526550293,43.6900749206543,-65.49598693847656,-13.974522590637207,-28.27496337890625,-39.05012893676758,-1.2106596231460571,-19.012897491455078,19.568010330200195,...,57.49507141113281,-76.39321899414062,127.26136016845705,-13.035799026489258,46.3818244934082,-15.752449989318848,31.00033187866211,-39.607521057128906,24.76401138305664,-36.7710075378418

In [12]:
df.columns

Index(['network', '1', '1.1', '2', '2.1', '3', '3.1', '4', '4.1', '5', '5.1',
       '6', '6.1', '6.2', '6.3', '7', '7.1', '7.2', '7.3', '7.4', '7.5', '8',
       '8.1', '8.2', '8.3', '8.4', '8.5', '9', '9.1', '10', '10.1', '11',
       '11.1', '12', '12.1', '12.2', '12.3', '12.4', '13', '13.1', '13.2',
       '13.3', '13.4', '13.5', '14', '14.1', '15', '15.1', '16', '16.1',
       '16.2', '16.3', '16.4', '16.5', '16.6', '16.7', '17', '17.1', '17.2',
       '17.3', '17.4', '17.5', '17.6'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 63 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   network  922 non-null    object
 1   1        922 non-null    object
 2   1.1      922 non-null    object
 3   2        922 non-null    object
 4   2.1      922 non-null    object
 5   3        922 non-null    object
 6   3.1      922 non-null    object
 7   4        922 non-null    object
 8   4.1      922 non-null    object
 9   5        922 non-null    object
 10  5.1      922 non-null    object
 11  6        922 non-null    object
 12  6.1      922 non-null    object
 13  6.2      922 non-null    object
 14  6.3      922 non-null    object
 15  7        922 non-null    object
 16  7.1      922 non-null    object
 17  7.2      922 non-null    object
 18  7.3      922 non-null    object
 19  7.4      922 non-null    object
 20  7.5      922 non-null    object
 21  8        922 non-null    object
 22  8.1      922 non-null    object
 23  8.2      922 non-null    object
 24  8.3      922 non-null    object
 25  8.4      922 non-null    object
 26  8.5      922 non-null    object
 27  9        922 non-null    object
 28  9.1      922 non-null    object
 29  10       922 non-null    object
 30  10.1     922 non-null    object
 31  11       922 non-null    object
 32  11.1     922 non-null    object
 33  12       922 non-null    object
 34  12.1     922 non-null    object
 35  12.2     922 non-null    object
 36  12.3     922 non-null    object
 37  12.4     922 non-null    object
 38  13       922 non-null    object
 39  13.1     922 non-null    object
 40  13.2     922 non-null    object
 41  13.3     922 non-null    object
 42  13.4     922 non-null    object
 43  13.5     922 non-null    object
 44  14       922 non-null    object
 45  14.1     922 non-null    object
 46  15       922 non-null    object
 47  15.1     922 non-null    object
 48  16       922 non-null    object
 49  16.1     922 non-null    object
 50  16.2     922 non-null    object
 51  16.3     922 non-null    object
 52  16.4     922 non-null    object
 53  16.5     922 non-null    object
 54  16.6     922 non-null    object
 55  16.7     922 non-null    object
 56  17       922 non-null    object
 57  17.1     922 non-null    object
 58  17.2     922 non-null    object
 59  17.3     922 non-null    object
 60  17.4     922 non-null    object
 61  17.5     922 non-null    object
 62  17.6     922 non-null    object
dtypes: object(63)
memory usage: 454.4+ KB

In [23]:
pd.to_csv?

Object `pd.to_csv` not found.

<bound method NDFrame.to_csv of     network                    1                  1.1                   2  \
0      node                    1                    1                   1
1      hemi                   lh                   rh                  lh
2       NaN                  NaN                  NaN                 NaN
3         0    56.05574417114258    92.03103637695312   3.391575574874878
4         1     55.5472526550293     43.6900749206543  -65.49598693847656
..      ...                  ...                  ...                 ...
918     915  -7.4295125007629395    -4.81321907043457  -3.670536518096924
919     916   -33.55413818359375   -38.60562133789063  -25.66480255126953
920     917   -78.53956604003906   -74.19718933105469  -54.04159545898438
921     918  -103.23582458496094    -98.7442855834961  -40.10954284667969
922     919   -36.28886795043945  -10.762069702148438  -30.35626220703125

                     2.1                    3                  3.1  \
0                      1                    1                    1
1                     rh                   lh                   rh
2                    NaN                  NaN                  NaN
3      38.65968322753906   26.203819274902344   -49.71556854248047
4    -13.974522590637207   -28.27496337890625   -39.05012893676758
..                   ...                  ...                  ...
918   1.4422610998153689    -19.6804313659668  -29.109355926513672
919  -30.252351760864254   5.5627851486206055   20.182186126708984
920   -39.97029113769531  -14.277058601379395  -30.606460571289066
921   -44.90773391723633   12.109148025512695   1.6213401556015017
922   -23.31950378417969   14.252187728881836   -27.55986022949219

                       4                  4.1                     5  ...  \
0                      1                    1                     1  ...
1                     lh                   rh                    lh  ...
2                    NaN                  NaN                   NaN  ...
3       47.4610366821289   26.746612548828125   -35.898860931396484  ...
4    -1.2106596231460571  -19.012897491455078    19.568010330200195  ...
..                   ...                  ...                   ...  ...
918  -3.3765623569488525      -8.764892578125  0.017911728471517563  ...
919    17.91124725341797    24.65358161926269    -32.93561172485352  ...
920    60.62852096557617    62.02702331542969    -32.80055618286133  ...
921   33.765560150146484    55.35607147216797   -14.330512046813965  ...
922   17.279512405395508  -19.060152053833008     26.55877685546875  ...

                   16.5                16.6                 16.7  \
0                     3                   4                    4
1                    rh                  lh                   rh
2                   NaN                 NaN                  NaN
3    0.6079040169715881  -70.27054595947266    77.36577606201172
4     57.49507141113281  -76.39321899414062   127.26136016845705
..                  ...                 ...                  ...
918   58.28579330444336   68.55741119384766    22.83304786682129
919   59.86481857299805   23.00457763671875   7.6574625968933105
920   68.76786804199219   49.66401672363281    64.55149841308594
921   103.1552505493164  106.45484924316406     9.04682731628418
922   102.0863037109375   80.05113983154297  -2.6426103115081787

                      17                17.1                 17.2  \
0                      1                   1                    2
1                     lh                  rh                   lh
2                    NaN                 NaN                  NaN
3     -21.73455047607422  1.0282527208328247   7.7917842864990225
4    -13.035799026489258    46.3818244934082  -15.752449989318848
..                   ...                 ...                  ...
918    76.17948913574219    51.9346694946289   -6.614512920379639
919    50.96239852905274  13.696922302246096    63.50361633300781
920    43.80074691772461   8.144479751586914    47.28145980834961
921    46.67441940307617   40.95479583740234   0.8771800398826599
922  -12.229619979858398  -6.596726417541504   17.665163040161133

                   17.3                 17.4                17.5  \
0                     2                    3                   3
1                    rh                   lh                  rh
2                   NaN                  NaN                 NaN
3     68.90372467041016  -10.520872116088867  120.49046325683594
4     31.00033187866211  -39.607521057128906   24.76401138305664
..                  ...                  ...                 ...
918  -6.690762042999268   22.893030166625977   48.27437973022461
919   57.40117645263672    24.97454833984375   51.97215270996094
920   70.49964904785156    66.99440002441406   81.53924560546875
921   37.57715225219727   20.517745971679688   3.124434232711792
922  16.153173446655273    8.300398826599121  33.687530517578125

                    17.6
0                      4
1                     lh
2                    NaN
3    -39.686431884765625
4      -36.7710075378418
..                   ...
918    76.22845458984375
919    64.53878784179689
920    64.96977233886719
921    56.71838760375977
922   17.960655212402344

[923 rows x 63 columns]>

In [26]:
df[["17"]]

                      17
0                      1
1                     lh
2                    NaN
3     -21.73455047607422
4    -13.035799026489258
..                   ...
918    76.17948913574219
919    50.96239852905274
920    43.80074691772461
921    46.67441940307617
922  -12.229619979858398

[923 rows x 1 columns]

In [28]:
df[["17"]].to_csv("file.csv")

In [33]:
pd.read_excel("https://github.com/DataForScience/Excel/raw/master/data/Simple.xlsx").shape

(12, 2)

In [34]:
df[["17"]].to_excel("file.xlsx", sheet_name="hello")